.header {
  position: fixed;
  top: 0;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom: 2px solid gray;
  width: 100%;
  text-align: center;
  background: #1f2937;
}
